torch>=2.0
monai
numpy
scipy
scikit-image
pyyaml
wandb
# Not pinned as a hard dependency yet -- see models/interfaces.py build_model():
# alpine @ git+https://github.com/kushalvyas/alpine.git@<pin-a-commit>
