torch>=2.0
monai
numpy
scipy
scikit-image
pyyaml
wandb
# Strainer backend for models/interfaces.py build_model()
alpine @ git+https://github.com/kushalvyas/alpine.git@14a96fbc1f1124d3883a325042991a45b38c063d
